@use '../../components/buttons'as button;
@use '../../components/transitions'as transition;
@use '../../tools/responsive'as responsive;

.about {
    background-color: var(--color-dark);
    color: var(--color-light-2);
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;

    &__inner {
        padding: var(--section-gap-4) 0;
    }

    &__img {
        max-width: 30vw;
    }

    &__title {
        display: none;
        // margin-bottom: var(--section-gap-2);
    }

    &__text {
        min-width: 20vw;
        max-width: 400px;
        margin-right: 3rem;
        margin-bottom: var(--section-gap-2);
        color: var(--color-light-1);
    }

    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &__content {
        margin-left: var(--section-gap-3);
    }

    &__links {

        @include transition.link-transition($background: var(--color-light-2));
        margin-bottom: var(--section-gap-1);

        & a {
            color: var(--color-light-2);
            text-decoration: none;

            &:first-of-type {
                margin-right: var(--section-gap-base);
            }
        }
    }

    &__btn {
        @include button.standard($color: var(--color-light-1), $border: 2px solid var(--color-light-1));

        &:hover {
            color: var(--color-white);
            border-color: var(--color-white);
            background-color: var(--color-light-1-transparent);
            border-color: rgba($color: #000000, $alpha: 0);
        }
    }
}


@media screen and (max-width: 945px) {
    .about {

        &__container {
            display: flex;
            align-items: flex-start;
        }

        &__content {}

        &__text {
            margin-right: 0;
        }
    }



}

@media screen and(max-width: 800px) {
    .about {
        &__container {
            flex-direction: column;
            justify-content: flex-start;
        }

        &__content {
            margin-left: 0;
            margin-top: var(--section-gap-3);
        }

        &__img {
            max-width: 50vw;
        }
    }

    // .about {
    //     .vertical-text-right {
    //         opacity: 1;
    //         font-size: 15rem;
    //         top: 87%;
    //     }
    // }

}

@media screen and(max-width: 614px) {
    .about {
        .vertical-text-right {
            opacity: 0;
        }
    }
}