.gallery {
    margin-top: 150px;
    padding-top: var(--section-gap-3);

    &__inner {
        margin-bottom: var(--section-gap-4);
        padding-left: 8vw;
        position: relative;
    }

    img {
        display: block;
    }

    &__title {
        font-size: 2rem;
        font-size: clamp(2rem, 0.9584257975034673rem + 4vw, 4.00875rem);
        margin-right: var(--section-gap-base);
        margin-top: var(--section-gap-3);
    }

    &__row-1,
    &__row-2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__row-2 {
        margin-top: var(--section-gap-base);
        gap: var(--section-gap-base);
    }

    &__item-1 {
        align-self: flex-end;
        flex: 0 1 30%;
    }

    &__item-2 {
        flex: 1 1 20%;
        min-width: 60.83%;
    }

    &__item-3,
    &__item-4 {
        flex: 1 1 20%;
        min-width: 160px;
    }

    &__item-5 {
        flex: 1 1 30%;
        min-width: 250px;
    }

    & p {
        min-width: 290px;
        max-width: 400px;
        margin-top: var(--section-gap-2);
    }
}

.exp {
    background-color: var(--color-light-2);
    z-index: 4;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;

    &__inner {
        padding: var(--section-gap-4) 8vw var(--section-gap-4) 0;
        margin: var(--section-gap-4) 0;
    }

    &__title {
        margin-bottom: var(--section-gap-2);
        font-size: clamp(2rem, 0.9584257975034673rem + 4vw, 4.00875rem);
    }

    &__content {
        display: flex;
        align-items: flex-start;
        gap: var(--section-gap-base);
    }

    &__img {
        min-width: 200px;
        object-fit: contain;
    }

    &__img-text {
        display: flex;
        flex-direction: column;
    }

    &__text {
        margin-top: var(--section-gap-2);
        min-width: 250px;
    }
}


@media screen and (max-width:637px) {
    .exp__content {
        flex-wrap: wrap;
    }

}


@media screen and (max-width: 699px) {
    .gallery__item-1 {
        flex: unset;
        margin-bottom: var(--section-gap-2);
    }

}