.header {
    position: fixed;
    height: 90px;
    z-index: 999; //TEMP

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__social {
        width: 30px;
    }
}

.branding img {
    max-width: 95%;
}