.header {
    position: fixed;
    height: var(--nav-height);
    z-index: 500;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__social {
        width: 30px;
    }
}

.header--hidden {
    transform: translateY(calc(-2 * var(--nav-height)));
}

.header--background {
    transition: all 0.3s;
    background-color: var(--color-light-2);
}

.branding img {
    max-width: 95%;
}