.page-header {
    background-color: var(--color-dark);
    position: fixed;
    margin: var(--nav-height) 0 0 0;
    z-index: 100;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__category {
        color: var(--color-light-1);
    }

    &__categories {
        color: var(--color-light-1);
        background-color: var(--color-light-1-transparent);
        padding: 8px 50px;
        display: flex;

    }

    &__arrow {
        margin-left: var(--section-gap-base);
    }
}