// TEMP placement

@media screen and (max-width: 600px) {
    .footer {
        &__content {
            flex-direction: column;
        }

        #contact {
            margin-bottom: var(--section-gap-3);
        }
    }

    #contact {
        margin-right: 0;
    }

    .page-header {
        &__category {
            display: none;
        }

        &__categories {
            padding: 0;
            background-color: none;
        }
    }
}

@media screen and (max-width: 782px) {

    .gallery__item-5 {
        flex-direction: column;

        .gallery__img-5 {
            margin-bottom: var(--section-gap-2);
        }
    }
}

@media screen and (max-width: 800px) {

    .footer .form {
        &__input-names {
            display: block; // Fungerar inte
        }

        &__field:last-child {
            margin-left: 0px;
        }
    }
}

@media screen and (max-width: 901px) {

    div.gallery__item-5 {
        align-items: flex-start;

        & img {
            margin-right: var(--section-gap-base);
            margin-bottom: var(--section-gap-3);
            object-fit: contain;
        }

        .gallery__text {
            min-width: 250px;
            margin-top: 0;
        }
    }

    .vertical-text {
        opacity: 0;
    }

    div.gallery__inner,
    div.exp__inner {
        padding: 0;
    }
}