//section gap, ex on how to use scss variables
// $section-gap: 8rem;

/* Global Variables */
:root {
    --section-gap-base: 10px;
    --section-gap-1: calc(var(--section-gap-base) * 1.75); //17px
    --section-gap-2: calc(var(--section-gap-1) * 1.75); //29.75
    --section-gap-3: calc(var(--section-gap-2) * 1.75); //52.0625px
    --section-gap-4: calc(var(--section-gap-3) * 1.75); //91.109375
    --section-gap-5: calc(var(--section-gap-4) * 1.75); //159.4414


    --section-inner-gap-small: calc(var(--section-gap) * 0.5);
    --grid-gap: 3rem;
    --grid-container: minmax(1.5rem, 7.5rem) [inner-start] minmax(80vw, 90rem) [inner-end] minmax(1.5rem, 7.5rem);
    --grid-inner: repeat(12, 1fr);
    --grid-rows: 90px, autofit(1fr);
    --content-width: 55rem;

    // Add fonts here
    --font-family-title: 'spectral', serif;
    --font-family-secondary: 'PT Serif', serif;

    // Change base size and scale here
    --font-base: 1rem;
    --font-scale: 1.33;

    --font-size-0: calc(var(--font-base) / var(--font-scale)); // 12
    --font-size-1: var(--font-base); //16
    --font-size-2: calc(var(--font-size-1) * var(--font-scale)); //21.33
    --font-size-3: calc(var(--font-size-2) * var(--font-scale)); // 28.43
    --font-size-4: calc(var(--font-size-3) * var(--font-scale)); //37.9
    --font-size-5: calc(var(--font-size-4) * var(--font-scale)); //50.52
    --font-size-6: calc(var(--font-size-5) * var(--font-scale)); //67.34

    // Change colors here
    --color-dark: #282828;
    --color-grey: #484848;
    --color-light-1: #c1c1c1;
    --color-light-2: #F4F4F4;
    --color-light-1-transparent: rgba(193, 193, 193, 0.15);
    --color-white: #fff;

    --nav-height: 90px;
}